{:map-a {:a 1
         :b 2}

 :c {:component phoenix.all-in-test/test-component-c
     :map-a :dep
     :c1 :dep
     :host "some-host"}

 :c1 {:component phoenix.all-in-test/test-component-c1
      :a [:dep {:named :map-a}]}}
