{:phoenix/nrepl-port 7888

 :web-handler {::component {{name}}.service.handler/map->AppHandler
               :cljs-compiler ::dep}

 :server {::component phoenix.modules.aleph/make-web-server
          :handler [::dep :web-handler]
          :port 3000}

 :cljs-compiler {::component phoenix.modules.cljs/make-cljs-compiler
                 :modules [{:name :main
                            :mains #{'{{name}}.ui.app}
                            :dependencies nil}]
                 :source-path "ui-src"

                 :web-context-path "/js"
                 :output-dir "target/cljs/"

                 :dev {:optimizations :none}
                 :build {:optimizations :advanced
                         :classpath-prefix "js"}}}
